body{
	font-family: arial, helvitica, sans-serif;
}

/*Start of About Section*/
section.aboutSection {
  padding: 50px;
  text-align: center;
  background-color: #631a35;
  color: white;
}

.aboutSection a:visited {
	color: white;
	text-decoration: underline;
}

.aboutSection a:hover {
	color: #195eb7;
	text-decoration: underline;
	
}
/*End of About Section*/

/*Start License Section*/
.licenseSection a:visited {
	color: white;
	text-decoration: underline;
	
}

.licenseSection a:hover {
	color: #195eb7;
	text-decoration: underline;
	
}

.licenseSection {
	font-family: Consolas, Monospace;
	font-size: 16px;
	padding: 20px 20px 20px 20px;
	background-color: black;
}

.licenseSection p, h1 {
	color: white;
}
/*End License Section*/

