/*Main Content Start*/
*{
	margin: 2px;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	
}

body{
	background: white;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
/*Main Content End*/

/*Image Section Start*/

.backgroundImg img {
	width: 100%;
	heigth: 100%;
	overflow: hidden;
	opacity: 1.0;
}
/*Image Section End*/

/*Transparent Box Start*/
.transBox button{
	
	background-color: #e8e9ea;
	width: 20%;
	font-size: 25px;
	color: black;
	
}

.transBox {
	position: absolute;
	top: 80px;
	left: 300px;
	width: 60%;
	height: 70%;
	z-index:99;
	background-color: #ffffff;
	border: none;
	opacity: 0.7;
	overflow: hidden;
 }

.transBox p, h1, h2, h3, h5 {
  margin: auto;
  padding-top: 50px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
}
/*Transparent Box End*/

/*Navigation Start*/
.navSection {
	overflow: hidden;
	background-color: #631a35;
	
}

.navSection a {
	float: left;	
	padding: 10px;
	font-size: 18px;
	color: white;
	text-align: center;
	text-decoration: none;
}

.navSection a:hover {
	background-color: transparent;
	color: #195eb7;
	text-decoration: underline;
}

.navSection a:visited {
	color: white;
	text-decoration: underline;
}
/*Navigation End*/

/*Center Content Start*/
.center {
	border: 3px solid black;
	margin: 10px;  text-align: center; 
	background-color: #e8e9ea; 
	
}

.center h1, p{
	font-size: 20px;
	color: black;
	line-height: 40px;
	}
/*Center Content End*/

/*License Section Start*/
.licenseSection {
	border: 3px solid black;
	padding: 20px; 
	text-align: center;
	background-color: #631a35;
	
}

.licenseSection h1{
	font-size: 20px;
	color: white;
	
}
.licenseSection p{
	color: white;
	
}
/*License Section End*/

/*Footer Start*/
.footer {
	margin: 10px;
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #631a35;
	color: white;
	text-align: center;
}

.footer p {
	color: white;
}

.footer a {
	text-decoration: none;
}

.footer a:visited {
	color: white;
	text-decoration: underline;
}

.footer a:hover {
	color: #195eb7;
	text-decoration: underline;
}
/*Footer End*/
