body{
	font-family: arial, helvitica, sans-serif;
}


/*Start Navigation*/
.navigationSection {
	overflow: hidden;
	background-color: #631a35;
	padding: 5px;
}

.navigationSection a {
	float: left;
	font-size: 12px;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size: 16px;
	margin: 10px;
}

.navigationSection a:hover {
	background-color: transparent;
	color: #195eb7;
	text-decoration: underline;
}
/*End Navigation*/


/*Start Button*/
.buttonSection {
	float: right;
	padding: 0;
	position: absolute;
	top: 10px;
	right: 15px;
}

.buttonSection button{

	text-align: center;
	background-color: transparent;
    border: none;
    cursor: pointer;
	overflow: hidden;border-radius: 4px;
	outline: none;
}

.buttonSection a:visited {
	color: white;
	text-decoration: underline;
}

.buttonSection a:hover {
	color: #195eb7;
	text-decoration: underline;
}
/*End Button*/


/*Start Search-box*/
.searchBox {
	float: right;
	padding: 5px 0px 0 0;
}
/*End Search-box*/


/*Start Footer*/
.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #631a35;
	color: white;
	text-align: center;
}

.footer a {
	text-decoration: none;
}

.footer a:visited {
	color: white;
	text-decoration: underline;
}

.footer a:hover {
	color: #195eb7;
	text-decoration: underline;
}
/*End Footer*/

/*Start H1 quotes*/
h1 {
	padding: 50px;
	font-size: 50px;
}
/*End H1 quotes*/