body {
background: #631A35;  /* fallback for old browsers */
background: linear-gradient(to right,  #195EB7, #631A35); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 0;
margin: 0;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
        
    }

	
.card-header, .card-body, p h3 {
background-color: #e8e9ea;
padding: 3px 80px 10px 50px;
margin: 2px 80px 10px 80px;
border: solid black 1px;
text-align: center;
}

h3 {
 font-size: 20px;
 font-weight: 700;
}
	
 p {
 font-size: 15px;
 font-weight: 500;
		
}


.profile .table th, .profile .table td, tr {
    font-size: 15px;
    padding: 5px 10px;
    color: #000;
	border: solid black 3px;
	
}


.table {
background-color: #e8e9ea;
padding: 2px 50px 2px 50px;
margin: 2px 0 2px 250px;
margin-right: 100%;
border: solid black 3px;

}

/*Image and Card-Header Start*/


.profile_img, img {
	width: 100px;
	height: 100px;
	padding: 10px 0 10px 80px;
}

/*Image Ends*/
