body{
	font-family: arial, helvitica, sans-serif;
}

/*Start of Table Section*/
.tableSection table {
    margin: 0 auto;
    font-size: large;
    border: 3px solid black;
}

.tableSection th, td {
    font-weight: bold;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
}
/*End of Table Section*/
table {
    margin: 0 auto;
    font-size: 18px;
    border: 3px solid black;
}
 
h1 {
    text-align: center;
    color: rgb(0, 32,96);
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT',
    ' Calibri', 'Trebuchet MS', 'sans-serif';
}
 
td {
    background-color: #E4F5D4;
    border: 1px solid black;
}
 
th, td {
    font-weight: bold;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
 
td {
    font-weight: lighter;
}
